#comparison__results--outer {
    width: 100%;
    max-width: 1000px;

    /*position: fixed;*/
    top: 2em;
    left: 0;
    right: 0;

    margin: 0 auto;
    padding: 1rem;

    z-index: 1200;
}

.compareProduct--header {
    padding: 0em 0 1rem;
}

.compareProductInfo--row {
    border-top: 1px solid #ddd;
    transition: background-color 0.3s, padding 0.5s ease-in-out;
}

.compareProductInfo--row:hover {
    background-color: #eee;
    transition: background-color 0.1s, padding 0.5s ease-in-out;
}

/** Horizontal container to scroll **/
#comparison__results {
    overflow-x: auto;
}

/** Vertical container to scroll **/
.comparisonSubCategories--wrap {
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.compareProduct--row {
    min-width: 600px; /** Set this with Javascript to adapt to different numbers **/
}

/***************/

/** Category heading **/
.compare__featureCategory--row {
    background-color: #ddd;
}

.compare__featureCategory {
    padding: 0.5rem;
}

/** Subcategory **/
.compareProduct__featureSubCategory {
    background-color: white;
    border-right: 1px solid #ddd;
}

.compareProductInfo--row:hover .compareProduct__featureSubCategory {
    background-color: #eee;
    border-right: 1px solid #ddd;
}

/** Columns **/
.compareProduct--titleColumn {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
}

.compareProduct--valueColumn {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}
/***********/

/** Cell contents **/
.compareProduct--values {
    display: flex;
}

.compareProduct--value {
    flex: 1;
    border-right: 1px solid #ddd;
}
.compareProduct--value img {
    height: 1rem;
}

/** Applied when match is found **/
.hasSubCategory {
    background-color: #4cae4c;
    color: white;
}

.compareProductInfo--row:hover .hasSubCategory {
    background-color: #57d258;
}
/**************/

/**** Buttons ****/


/** Animate labels following the scroll **/
.followScroll {
    transition: transform 0.2s ease-out;
}

/** Responsive **/
.compareProduct__featureSubCategory,
.compareProduct--value {
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding: 1rem 0.5rem;
}

@media (min-width: 500px) {
    .compareProduct__featureSubCategory,
    .compareProduct--value {
        font-size: 1.5rem;
        line-height: 1.7rem;
    }
}

@media (min-width: 769px) {
    .compareProduct--titleColumn {
        width: 19%;
    }
    .compareProduct--valueColumn {
        width: 81%;
    }
    .compareProduct__featureSubCategory,
    .compareProduct--value {
        font-size: 1.8rem;
        line-height: 2.0rem;
    }
}